/* header */
.header{
    display: flex;
    justify-content: space-between;
    width:100%;
    align-items: flex-end;
    margin: 10px auto;
}

.headerText h3{
    font-style: italic;
    color: red;
    margin-left: 150px;
}
.logo{
    text-align: center;
}
.logo img{
    width: 60%;
    margin-left: 20px;
}
.search {
    width: 25%;
    margin-right: 10px;
}

/* nav-bar */
.menu ul{
    display: flex;
    justify-content: center;
    width: 100%;
}
/* section1 */
.blueText h1{
    color: #0EC0C3;
    text-align: center;
    margin: 30px auto;
}
.sec1 p{
    text-align: justify;
    margin-bottom: 10px;
    font-size: 25px;
}
/* section2 */
.sec2Left{
    height: 800px;
}
.sec2Left img{
    width: 70%;
    margin-left: 100px;
}
.sec2Right{
    height: 800px;
}
.sec2Right img{
    width: 100%;
    margin-top: 150px;
}
/* section3 */
.sec3L{
    padding-left: 110px;
}
.sec3L h3{
    color: #F79646;
}
.sec3L p{
    text-align: justify;
    font-size: 20px;
}
/* section 4 */
.order{
    margin: 30px auto;
}
/* footer */
.footer{
    background-color: #0EC0C3;
    padding: 10px;
}
.footer p, h5{
    text-align: center;
    color: white;
}

@media screen and (max-width: 768px) {
    .header{
        display: flex;
        flex-direction: column;
        width:100%;
        align-items: center;
        margin: 0;
    }
    .headerText h3{
        
        margin-left: 0px;
    }

    .search {
        width: 100%;
        margin-right: 0px;
    }

    .sec2Left img{
        width: 100%;
        margin-left: 0px;
    }

    .sec2Right img{
        width: 100%;
    }
    .sec2Left, .sec2Right{
        height: auto;
    }
    .sec3L{
        padding-left: 10px;
    }
}