.logo{
    width:100%;
    text-align: center;
    padding: 5px;
}
.menu ul{
    display: flex;
    width:100%;
    justify-content: center;
}

.blueName h1{
    color: #0EC0C3;
    text-align: center;
    margin: 40px 0;
}

/* Sec1 */
.imageSec1 img{
    width: 100%;
}
.textSec1 p{
    text-align: justify;
    font-size: 26px;
}

/* Sec2 */
.Sec2Left img {
    width: 100%;
    height: 48vw;
}

.Sec2Text{
    position: absolute;
    top: 0;
    left: 25px;
    color: white;
}

.Sec2Right img {
    width: 100%;
    height: calc(24vw - 15px);
    margin-bottom: 30px;
}

/* Sec3 */
.Sec3 img {
    width: 100%;
}
.Sec3 h3{
    color: #F79646;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}
.Sec3 p{
    font-size: 18px;
}
/* footer */
.footer{
    background-color: #0EC0C3;
    padding: 10px;
}
.footer p, h5{
    text-align: center;
    color: white;
}
@media screen and (max-width:768px) {
    .textSec1 p {
        margin-top: 20px;
    }
    .Sec2Left img, .Sec2Right img {
        width:100%;
        height: auto;
    }
    
    .Sec2Left img {
        margin-bottom: 30px;
    }
    .Sec3 img{
        margin-bottom: 15px;
    }
}